.App {
    text-align: center;
    background-color: #fdf5e6;
}
html{
    background-color:#eedfcc;
}
fieldset{
    margin-bottom: 10px;
    margin-top:10px;
}
.App-logo {
  animation: App-logo-spin infinite 30s linear;
  height: 80px;
}
td input{
    background-color:#fffaf0;
}
.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
  text-align: center;
}

.App-intro {
  font-size: large;
}
textarea:read-only{
    background-color:#faebd7;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

legend{
    text-align: left;
}
td{text-align: left;}
svg{
    border:5px solid #000000;
}

.game-viewer label{
    padding: 5px;
}
.game-viewer text{
    margin-right: 10px;
    margin-left: 10px;
}
.game-viewer button{
    margin-top:10px;
}
.move-analyzer button{
    margin: 10px;
}
#game-viewer-id{
    //max-width:616px;
}
input{
    margin-right:10px;
}
.model-select output{
    margin-left:10px;
}
#move-analyzer-id{
    padding-left:10px;
    float:right;
    margin-top:0;

}
.Select-control{
    background-color:#fffaf0;
    text-align:left;
}
svg text {
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
svg text::selection {
    background: none;
}
.Select-menu-outer {
    z-index: 3;
}
.file-select {
    z-index: 3;
}
.svg-button-background {
    fill: #faebd7
}
.svg-button-foreground {
    fill: #000000
}
